<h1>Make your Quotation</h1>
<div class="container">
  <div class="forms">
    <div class="vertical-spacer"> School
      <select class="selector" [(ngModel)]="selectedSchool" (ngModelChange)="onModelChanged()">
        <option *ngFor="let school of schools" [ngValue]="school">{{school.school}}</option>
      </select>
    </div>
    <div class="vertical-spacer"> Grade
      <select class="selector" [(ngModel)]="selectedGrade">
        <option *ngFor="let grade of grades" [ngValue]="grade">{{grade.name}}</option>
      </select>
    </div>
    <div class="vertical-spacer">
      <button type="button" class="btn btn-primary" [disabled]="!areRequiredFieldsFilled" (click)="makeQuotation()">Make
        Quotation</button>
    </div>
    <div class="invalid-field" *ngIf="!isSchoolSelected">
      School is required
    </div>
    <div class="invalid-field" *ngIf="!isGradeSelected">
      Grade is required
    </div>
    <div *ngIf="isQuotationMade" class="supply-list">
      <items-list [items]="items"></items-list>
      <div class="total-price">Total = {{totalPrice}}</div>
    </div>
  </div>
</div>